
@{
    ViewBag.Title = "Bancos";
    Layout = "~/Views/Shared/_Backend.cshtml";
}



<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i>BANCOS</h3>
        <!-- page start-->
        <div id="morris">
            <div class="col-lg-6">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Chart Example 2</h4>
                    <div class="panel-body">
                        <div id="bancos" class="graph"></div>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Chart Example 2</h4>
                        <div class="panel-body">

                            <table class="table table-bordered table-striped table-condensed cf">
                                <thead class="cf">
                                    <tr>
                                        <th></th>
                                        <th>Proyección</th>
                                        <th class="numeric">Cumplimiento</th>
                                        <th class="numeric">%</th>
                                        <th class="numeric">Acumulado</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="Code">Enero</td>
                                        <td data-title="numeric">8</td>
                                        <td class="numeric">14</td>
                                        <td class="numeric" data-title="Change">175%</td>
                                        <td class="numeric" data-title="Change %">175%</td>
                                    </tr>
                                    <tr>
                                        <td data-title="Code">Febrero</td>
                                        <td data-title="numerico">14</td>
                                        <td class="numeric">9</td>
                                        <td class="numeric" data-title="Change">  64%</td>
                                        <td class="numeric" data-title="Change %">105%</td>
                                    </tr>
                                    <tr>
                                        <td data-title="Code">Marzo</td>
                                        <td data-title="numerico">12</td>
                                        <td class="numeric">12</td>
                                        <td class="numeric" data-title="Change">  100%</td>
                                        <td class="numeric" data-title="Change %">103%</td>
                                    </tr>
                                    <tr>
                                        <td data-title="Code">Abril</td>
                                        <td data-title="numerico">51</td>
                                        <td class="numeric">6</td>
                                        <td class="numeric" data-title="Change">  12%</td>
                                        <td class="numeric" data-title="Change %">48%</td>
                                    </tr>
                                    <tr>
                                        <td data-title="Code">Mayo</td>
                                        <td data-title="numerico">45</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric" data-title="Change">  0%</td>
                                        <td class="numeric" data-title="Change %">0%</td>
                                    </tr>
                                    <tr>
                                        <td data-title="Code">Junio</td>
                                        <td data-title="numerico">59</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric" data-title="Change">  0%</td>
                                        <td class="numeric" data-title="Change %">0%</td>
                                    </tr>
                                    <tr>
                                        <td data-title="Code">Julio</td>
                                        <td data-title="numerico">59</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric" data-title="Change">  0%</td>
                                        <td class="numeric" data-title="Change %">10%</td>
                                    </tr>
                                    <tr>
                                        <td data-title="Code">Agosto</td>
                                        <td data-title="numerico">19</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric" data-title="Change">  0%</td>
                                        <td class="numeric" data-title="Change %">0%</td>
                                    </tr>
                                    <tr>
                                        <td data-title="Code">Septiembre</td>
                                        <td data-title="numerico">31</td>
                                        <td class="numeric">0</td>
                                        <td class="numeric" data-title="Change">  0%</td>
                                        <td class="numeric" data-title="Change %">0%</td>
                                    </tr>
                                    <tr>
                                        <td data-title="Code">Octubre</td>
                                        <td data-title="numerico">40</td>
                                        <td class="numeric">9</td>
                                        <td class="numeric" data-title="Change">  23%</td>
                                        <td class="numeric" data-title="Change %">15%</td>
                                    </tr>
                                    <tr>
                                        <td data-title="Code">Noviembre</td>
                                        <td data-title="numerico">62</td>
                                        <td class="numeric">4</td>
                                        <td class="numeric" data-title="Change">  6%</td>
                                        <td class="numeric" data-title="Change %">14%</td>
                                    </tr>
                                    <tr>
                                        <td data-title="Code">Diciembre</td>
                                        <td data-title="numerico">35</td>
                                        <td class="numeric">1</td>
                                        <td class="numeric" data-title="Change">  6%</td>
                                        <td class="numeric" data-title="Change %">13%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page end-->
</section>
</section>
<!--script for this page-->
