
@{
    ViewBag.Title = "UploadDocument";
    Layout = null; //"~/Views/Shared/_BackOfficeCC.cshtml";
}

<h2>UploadDocument</h2>
@using (Html.BeginForm("Upload", "EstadoDeCuenta", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="FileUpload" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}
